<! doctype html >
<html lang ="fr">
	<head >
		<meta charset ="utf -8">
		<title >WEB Nico</title >
	</head >
	<body >
		<h1 align=center> Pourquoi Raoult est-il le dernier Génie vivant ?</h1>
		<div align=center>
			<img src="{{url_for('static', filename = 'Savant.jpeg')}}" alt="[Didier Raoult nominé Savant de Marseille]"height="400px" width="400px"/>
		</div>
	
		<div align=center> La réponse dans cette vidéo ! A ne pas rater !</div>
		<div align="center">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/eZZYXnHofxI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</body>
</html>